

.app{
  height: 400px;
  width: 600px;
  background-color: lightblue;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.app h1{
  font-family:  Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;

}
.app h2{
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.buttons button{
    padding: 15px;
    padding-right:40px;
    gap: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font: 1em sans-serif;
    cursor: pointer;
}
.buttons button:active{
  background-color: #a69f9f;
  transform: scaleZ(1);
  border: none;
}